body {
    background-color: dimgray;
    padding-top : 70px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
}

.modal-content {
    background-color: dimgray;
}

/* Works on Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: white gray;
  }
  
  /* Works on Chrome, Edge, and Safari */
  
  *::-webkit-scrollbar-track {
    background: gray;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: white;
  }