<!DOCTYPE html>
<html lang="en">
    <head th:insert = "fragments/header :: header">
        <title>Gift Exchange</title>

    </head>

    <body>
        <div class="container-fluid bg-dark pt-2">

            <div class="jumbotron text-danger border border-primary">
                <h1 class="jumbotron-heading">GIFT EXCHANGE</h1>
            </div>

            <div class="row">
                <div class='col-sm-2 pb-3 bg-secondary'>
                    <h2> Navigation </h2>
                    <div class='btn-group-vertical btn-block' th:utext="${navblock}">
                    </div>
                </div>

                <div class="col-sm-10 bg-primary text-body">
                    <h1>Welcome to Gift Exchange!</h1>
                    <p>To begin, create an account by clicking the button on the left.</p>
                </div>

            </div>

        </div>

    </body>
</html>