<!DOCTYPE html>
<html lang="EN">

<head>
    <th:block th:insert="fragments/header :: header"></th:block>
    <title>GEX: Items</title>
</head>

<body>
    <div class="container-fluid text-light">
        <th:block th:insert="fragments/navbar :: navbar"></th:block>

        <h1  th:text = "${owner}">USERNAME</h1>
        <p th:text = "${itemCount} == 0 ? 'This person has no items.' : ${itemCount} + ' items.'"></p>
        <div style="overflow-x:auto;">
            <table class="table table-dark table-hover mt-6">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Comment</th>
                        <th>Bought By</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <tr th:each="item : ${items}" th:id="${item.id}">
                        <td th:text="${item.name}">NAME</td>
                        <td><a th:text="${item.title}" th:href="${item.url}" data-bs-toggle="tooltip"
                            th:title="${item.url}"></a></td>
                        <td th:text="${item.comment}">COMMENT</td>
                        <td th:text = "${item.bought} ? ${item.boughtBy} : 'Not bought'">BOUGHT</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>

</html>