<!DOCTYPE html>
<html lang="EN">

<head>
    <th:block th:insert="fragments/header :: header"></th:block>
    <title>GEX: Your List</title>
</head>

<body>
    <div class="container-fluid text-light">
        <th:block th:insert="fragments/navbar :: navbar"></th:block>
        <div th:replace="fragments/header :: websocket"></div>
        <script type=module th:src="@{/js/manage.js}"></script>
        <th:block th:insert="fragments/templates :: selfRow"></th:block>
        <th:block th:insert="fragments/templates :: errorModal"></th:block>
        <th:block th:insert="fragments/templates :: successModal"></th:block>

        <h1>Your List</h1>
        <p>Click an item to edit it. Hover over the URL title to see the destination URL.</p>
        <button class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#formModal"
            data-bs-backdrop="static" onclick="document.getElementById('itemForm').reset()">Add Item</button>
        <div id="error"></div>
        <div style="overflow-x:auto;">
            <table class="table table-dark table-hover mt-6">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>URL Title</th>
                        <th>Comment</th>
                        <!--<th></th>-->
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <tr onclick="openModal(this)" th:each="item : ${items}" th:id="${item.id}">
                        <td th:text="${item.name}">NAME</td>
                        <td><a th:text="${item.title}" th:href="${item.url}" data-bs-toggle="tooltip"
                                th:title="${item.url}"></a></td>
                        <td th:text="${item.comment}">COMMENT</td>
                        <!--<td class="material-symbols-outlined">delete</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" id="formModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-light">
                <!--header-->
                <div class="modal-header border-dark">
                    <h1 class="modal-title">Add Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!--body-->
                <div class="modal-body">
                    <form method="post" id="itemForm">

                        <div class="form-group">
                            <label for="item">Item: </label>
                            <input type="text" class="form-control" maxlength="255" name="item" id="item"
                                placeholder="Item name" required>
                        </div>

                        <div class="form-group">
                            <label for="url">URL: </label>
                            <input type="text" class="form-control" maxlength="255" name="url" id="url"
                                placeholder="The link to the item you would like" required>
                        </div>

                        <div class="form-group">
                            <label for="title">Title: </label>
                            <input type="text" class="form-control" maxlength="255" name="title" id="title"
                                placeholder="How the URL will appear when outputted" required>
                        </div>

                        <div class="form-group">
                            <label for="comment">Comment: </label>
                            <input type="text" class="form-control" maxlength="255" name="comment" id="comment"
                                placeholder="Any comment" required>
                        </div>

                        <input id="id" type="text" hidden>
                        <!--TODO fix this bullshit-->

                        <button class="btn btn-success mt-2" type="submit" name="addBtn" id="addBtn">Save</button>
                    </form>
                </div>

                <!--footer-->
                <div class="modal-footer border-dark">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        //inits all tooltips on the page
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        const formModal = new bootstrap.Modal(document.getElementById('formModal'), backdrop = "static");

        function openModal(row) {
            let txt = row.querySelectorAll("td");

            document.forms["itemForm"]["id"].value = row.id;

            document.forms["itemForm"]["item"].value = txt[0].innerText;
            document.forms["itemForm"]["url"].value = row.querySelector("a").attributes.getNamedItem("href").value;
            document.forms["itemForm"]["title"].value = txt[1].innerText;
            document.forms["itemForm"]["comment"].value = txt[2].innerText;

            formModal.show();
        }

        document.getElementById("itemForm").addEventListener("submit", function (e) {
            formModal.hide();
        });

    </script>

</body>

</html>