<!DOCTYPE html>
<html lang="EN">

<head>
    <th:block th:insert="fragments/header :: header"></th:block>
    <title>GEX: Your List</title>
</head>

<body>
    <div class="container-fluid text-light">
        <th:block th:insert="fragments/navbar :: navbar"></th:block>
        <div th:replace="fragments/header :: websocket"></div>
        <script type=module th:src="@{/js/manage.js}"></script>

        <h1 style="text-align:center;">Your List</h1>
        <p>Click an item to edit it. Hover over the URL title to see the destination URL.</p>
        <button class="btn btn-success mb-2" data-toggle="modal" data-target="#formModal" data-backdrop="static">Add Item</button>
        <div id="error"></div>
        <div style="overflow-x:auto;">
            <table class="table table-dark table-hover mt-6">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>URL Title</th>
                        <th>Comment</th>
                        <!--<th></th>-->
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <tr  onclick="openModal(this.id)" th:each="item : ${items}" th:id="${item.id}">
                        <td th:text="${item.name}" th:id="|NAME${item.id}|">NAME</td>
                        <td><a th:text="${item.title}" th:href="${item.url}" data-toggle="tooltip"
                                th:title="${item.url}" th:id="|TITLE${item.id}|"></a></td>
                        <td th:text="${item.comment}" th:id="|COMMENT${item.id}|">COMMENT</td>
                        <!--<td class="material-symbols-outlined">delete</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" id="formModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-light">
                <!--header-->
                <div class="modal-header border-dark">
                    <h1 class="modal-title">Add Item</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!--body-->
                <div class="modal-body">
                    <form method="post" id="itemForm">

                        <div class="form-group">
                            <label for="item">Item: </label>
                            <input type="text" class="form-control" maxlength="255"
                                name="item" id="item" placeholder="Item name" required>
                        </div>

                        <div class="form-group">
                            <label for="url">URL: </label>
                            <input type="text" class="form-control" maxlength="255" name="url" id="url"
                                placeholder="The link to the item you would like" required>
                        </div>

                        <div class="form-group">
                            <label for="title">Title: </label>
                            <input type="text" class="form-control" maxlength="255" name="title" id="title"
                                placeholder="How the URL will appear when outputted" required>
                        </div>

                        <div class="form-group">
                            <label for="comment">Comment: </label>
                            <input type="text" class="form-control" maxlength="255" name="comment" id="comment"
                                placeholder="Any comment" required>
                        </div>

                        <input id="id" type="text" hidden><!--TODO fix this bullshit-->

                        <button class="btn btn-success mt-2" type="submit" name="addBtn" id="addBtn">Save</button>
                    </form>
                </div>

                <!--footer-->
                <div class="modal-footer border-dark">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        //inits all tooltips on the page
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function openModal(id){
            document.forms["itemForm"]["id"].value = id;
            document.forms["itemForm"]["item"].value = document.getElementById("NAME"+id).innerText;
            document.forms["itemForm"]["url"].value = document.getElementById("TITLE"+id).attributes.getNamedItem("href").value;
            document.forms["itemForm"]["title"].value = document.getElementById("TITLE"+id).innerText;
            document.forms["itemForm"]["comment"].value = document.getElementById("COMMENT"+id).innerText;

            $("#formModal").modal({backdrop: "static"});
        }
    </script>

</body>

</html>