<!DOCTYPE html>
<html lang="EN">

<head>
    <th:block th:insert="fragments/header :: header"></th:block>
    <title>GEX: Users</title>
</head>

<body>
    <div class="container-fluid text-light">
        <th:block th:insert="fragments/navbar :: navbar"></th:block>

        <h1 >Users</h1>
        <p>Click on a users row to view their items.</p>
        <div style="overflow-x:auto;">
            <table class="table table-dark table-hover mt-6">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Interest</th>
                        <th>Items</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <tr onclick = "location.assign('/users/' + this.id)" th:each="user : ${users}" th:id="${user.username}">
                        <td th:text="${user.username}">NAME</td>
                        <td th:text="${user.interest}">COMMENT</td>
                        <td th:text="${user.itemCount}">ITEM COUNT</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>